.chartSize {
  width: 40px;
  height: auto;
}

.withe {
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.error {
  color: white;
  background-color: red;
  border-color: black;
  border: 1px;
  
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  justify-content: center;
  grid-gap: 5rem;
  margin: 5rem;
}

.form {
  text-align: left;
}

.detalleCompra {
  text-align: left;
  border: 2px;
  border-color: black;
}

.center {
  text-align: center;
}

.gridDetail {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-content: center;
  justify-content: center;
  grid-gap: 5rem;
  margin: 5rem;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .grid {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;
    grid-gap: 2rem;
    margin: 3rem;
  }

  .gridDetail {
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;
    grid-gap: 0rem;
    margin: 2rem;
  }

}